<div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
  <form action="https://api.follow.it/subscription-form/MmIwcjFzY05BcnMwTC80c3FZUjVvQ3d5UDVsa0dsT3ZKbGF6OXR3YmxtWm1NS0lYMW5abW5GVGU0a3VmNTZzQlVjc3U0STkvdlBHTmVQK0w4REhTRHRlWVA3KytGN1YwWVErWm5YUDk2aFM2aEpld1dHemVkL0w5TGp3N0xiSGx8M3dBVEFzU1BqR3loMENXN2Vhdjg0NEVJWjQyYktMZklvVmpkNjIxRGxCaz0=/8" method="post">
    <div class="form-preview" style="background-color: #fff; border: 1px solid #ccc; position: relative;">
      <div class="preview-heading">
        <h5 style="font-family: Arial; font-weight: bold;">透過電子郵件接收新文章：</h5>
      </div>
      <div class="preview-input-field">
        <input type="email" name="email" required placeholder="輸入您的電子郵件">
      </div>
      <div class="preview-submit-button">
        <button type="submit">訂閱</button>
      </div>
    </div>
  </form>
  <a href="https://follow.it" class="powered-by-line">
    Powered by <img src="https://follow.it/images/colored-logo.svg" alt="follow.it" height="17px">
  </a>
</div>

<style>
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px);
  border-radius: 6px;
  box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25);
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e9e8e8;
  text-align: center;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] button {
  margin-top: 10px;
  height: 40px;
  background-color: #706c6c;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}
</style>
